@import url('https://fonts.google.com/specimen/Domine?categoryFilters=Serif:%2FSerif%2FModern');
    *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     } 
     body{
        background:#450920
      }
      a{
        color: white;
        text-decoration: none;
      }
      .navbar{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 25px 9%;
        background: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        animation: show-content 1.5s linear forwards;
        animation-delay: 1.2s;
      }
      @keyframes show-content{
        100%{
          visibility: visible;
          opacity: 1;
        }
      }
      .navbar.Logo{
        font-size: 40px;
        font-weight: 700;
      }
      .navbar ul{
        display: flex;
      }
      .navbar ul li{
        list-style: none;
        margin-left: 35px;
      }
      .navbar ul li a{
        font-size: 20px;
        font-weight: 500;
        transition: 5se;
      }
      .navbar ul li:hover a,
      .navbar ul li.active a{
        color: #fee440; 
      }
      .home{
     display: flex;
     align-items: center;
     gap: 20%;
     height: 100vh;
     padding: 60px 9% o;
     color: white;
     visibility: hidden;
     opacity: 0;
     animation: show-content 1.5s linear forwards;
      animation-delay: 1.6s;
      }
     .home-info h1{
      font-size: 50px;
     }
     .home-info h2{
      font-size: 32px;
      margin-top: -10px;
     }
     .home-info h2 span{
      display: inline-block;
      color: transparent;
      -webkit-text-stroke: .7px greenyellow;
      animation:display-text 10s linear infinite;
     /* animation-delay: calc((2s*var(--1)));*/
     }
     @keyframes display-text{
      25%,100%{
        display: none;
      }
     }
     .home-info h2 span::before{
      content: attr(data-text);
      position: absolute;
      width: 100%;
      border-right: 2px solid greenyellow;
      color: rgb(98, 241, 98);
      white-space: nowrap;
      overflow: hidden;
     }
     .home-info p{
      font-size: 16px;
      margin: 10px0 25px;
     }
     .home-info.btn-sci{
     display: flex;
     align-items: center;
     }
     .btn{
      display: inline-block;
      padding: 10px3px;
      background: greenyellow;
      border:2px solid #ead861;
      border-radius: 40px;
      box-shadow: 0 0 10px #f0d10a;
      font-size: 16px;
      color: whitesmoke;
      font-weight: 600;
      transition: 5s;
      margin-left: 20px;
     }
     .btn:hover{
      background: transparent;
      color: greenyellow;
      box-shadow: none;
     }
     h1,h2,p{
      margin-left: 20px;
     }
     .home-info.btn-sci.sci{
      margin-left: 20px;
     }
      .home-info.btn-sci.sci a{
       display: inline-flex;
       padding: 8px;
       border: 2px solid #f0d10a;
       border-radius: 50%;
       font-size: 20px;
       color: #f0d10a;
       margin: 0 8px;
       transition: .5se;
      }
      .home-info.btn-sci.scia a:hover{
        background:#f0d10a ;
        color: #0b0b0b;
        box-shadow: 0 0 10px #f0d10a;
      }
      .home-img .img-box{
        width: 32vw;
        height: 32vw;
      
        border-radius: 50%;
        padding: 5px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .home-img.img-box::before
      .home-img.img-box::before{
        content:0 ;
        position: absolute;
        width: 500px;
        height: 500px;
        background: conic-gradient(transparent,transparent,transparent,greenyellow);
      }
      .home-img .img-box.img-item{
        position: relative;
        width: 100%;
        height: 100%;                                                                                                                       
        background: #000000 ;
        border-radius: 50%;
        border: .1px solid rgb(193, 54, 54);
        display: flex;
        justify-content: center;
        z-index: 1;
        overflow: hidden;
      }
      .home-img .img-box .img-item img{
        position: absolute;
        top: 200px;
        display: block;
        width: 20%;
        object-fit: cover;
        mix-blend-mode: lighten;
      }
      .bars-animation{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: -1;
      }
      .bars-animation .bars{
        width: 100%;
        height: 100%;
        background: #450920;
        transform: translate(-100);
        animation: show-bars .14s ease-in-out forwards;
        animation-delay: calc(.1s*var(--1));
      }
      @keyframes show-bars{
        100%{
          transform: translateY(0%);
        }
      }
*{
 padding: 0;
 margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
   }
    section{
   padding: 40px 15%;
   }
 .contact{
    background: #101010;
    width: 100%;
     height: 100%;
    min-height: 100vh;
   display: grid;
   grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
            
        }
        .contact-img img{
            max-width: 100%;
            width: 400px;
            height: auto;
            border-radius: 10px;
        }
        .contact-form h1{
            font-size: 80px;
            color: #fff;
            margin-bottom: 20px;
        }
        span{
            color: #f9004d;
        }
        .contact-form p{
         color: #c6c9d8bf;
         letter-spacing: 1px;
         line-height: 26px;
         font-family: 1.1rem;
         margin-bottom: 3.8rem;
        }
        .contact-form form{
            position: relative;
        }
        .contact-form form input,
            form teaxtarea{
                width: 100%;
                padding: 17px;
                border: none;
                outline: none;
                background: #191919;
                color: #fff;
                font-size: 1.1rem;
                margin-bottom: 0.7rem;
                border-radius: 10px;
            }
            .contact-form textarea{
                resize: none;
                height: 200px;
            }
            .contact-form form.btn{
                display: inline-block;
                background-color: #f9004d;
                font-size: 1.1rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                border: 2px solid transparent;
                border: 10px;
                width: 220px;
                transition: ease .20s;
                cursor: pointer;
            }
             .contact-form form.btn:hover{
                border: 2px solid #f9004d;
                background: transparent ;
                transform: scale(1.1);
                @media (max-width:1570) {
                    
                } 
                } 
                    section{
                        padding: 80px 3%;
                        transition: .2s;
                    }
                    .contact-form h1{
                        font-family: 60px;
                    }
                    .contact-form p{
                        margin-bottom: 3rem;
                    }
                @media (max-width:1090px) {
                    .contact{
                        grid-gap:2rem;
                        transition: .3s;
                    }
                }
                @media (max-width:1000px) {
                    .contact{
                        grid-template-columns: 1fr;
                        .contact-form{
                            order: 2;
                        }
                        .contact-img img{
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                            text-align: center;
                            margin-bottom: 30px;
                        }
                    }
                    
                }
.par{
  color: white;
  line-height: normal;
  line-break: normal;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: normal;

}
h2.say{
  color: white;
  line-height: normal;
  line-break: normal;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: normal;

}
#par{
  color: rgb(183, 236, 9);
  font-size: larger;
}
 .container.skills.info li{ 
  color:#100b0b;
  transition:color 0.5s;
}
.container:hover{
  color:#e3d5d5;
} 


 